/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

/* Estilos de la barra de navegación */
nav {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo img {
  max-height: 50px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Estilos del hero */
.hero {
  background-image: url('/fondo.jpg'); /* Reemplaza con tu imagen */
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 100px;
  text-align: center;
}

.hero {
  animation: fadeIn 1s ease-in-out; /* Animación fadeIn */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 4em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.hero button {
  background-color: #007bff;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

/* Estilos de la sección de proyectos */
.proyectos {
  padding: 50px;
  text-align: center;
}

.proyectos h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project-card {
  border: 1px solid #ccc;
  padding: 20px;
}

.project-card img {
  max-width: 100%;
}

/* Estilos del pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

footer li {
  margin: 0 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

